body {
  background-color: #03001e;
}
.container {
  background: rgb(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  max-width: 600px;
  margin: 40px auto;
  padding: 20px 50px;
}
h1 {
  display: inline-block;
  font-family: "Outfit", sans-serif;
  font-size: 54px;
  letter-spacing: 0.2cm;
  text-align: center;
  margin: 10px auto;
  padding-left: 16px;
}
.animated-gradient {
  background-image: radial-gradient(circle at 1.2% 5.3%, #e0c3fc, #8ec5fc);
  background-size: 400%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animatedGradient 20s ease infinite;
}
@keyframes animatedGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.robot {
  display: inline-block;
  text-align: center;
  color: #615486;
  font-size: 54px;
  padding-left: 30px;
}
main {
  margin-bottom: 20px;
}
form {
  display: flex;
  padding: 20px 10px;
  border-radius: 10px;
}
.topic {
  color: #757575;
  background-color: aliceblue;
  font-size: 16px;
  font-family: "Comfortaa", sans-serif;
  line-height: 1.5;
  border: none;
  border-radius: 10px;
  padding: 12px;
  width: 80%;
}
.submit-button {
  color: #03001e;
  font-size: 16px;
  font-weight: bold;
  font-family: "Comfortaa", sans-serif;
  padding: 14px 24px;
  margin-left: 12px;
  background-color: #8ec5fc;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.submit-button:hover {
  transform: translateY(3px);
  filter: contrast(80%);
}
.submit-button:active {
  opacity: 0.5;
}
.hint {
  color: #615486;
  font-size: 12px;
  font-family: "Comfortaa", sans-serif;
  margin-bottom: 20px;
}
.fact {
  color: aliceblue;
  background-color: #03001e;
  font-size: 18px;
  font-family: monospace;
  line-height: 2;
  border-left: 3px solid #e0c3fc;
  padding: 20px;
}
.hidden {
  display: none;
}
.blink {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
footer {
  color: #615486;
  font-size: 12px;
  font-family: "Comfortaa", sans-serif;
  text-align: center;
  line-height: 1.5;
  padding-top: 20px;
  border-top: 0.5px solid #03001e;
}
a {
  color: #615486;
  transition: all 0.3s ease-in-out;
}
a:hover {
  cursor: pointer;
  color: #e0c3fc;
}
@media (max-width: 600px) {
  .robot {
    display: none;
  }
}
